# Database (SQLite file)
DATABASE_URL="file:./dev.db"
# JWT secret
JWT_SECRET="cambiame_por_una_clave_segura"

# MercadoPago sandbox token
MP_ACCESS_TOKEN="TU_MP_SANDBOX_ACCESS_TOKEN"
MP_PUBLIC_KEY="TU_MP_PUBLIC_KEY"

# Gmail (para nodemailer) - usa app password
GMAIL_USER="tu.email@gmail.com"
GMAIL_APP_PASSWORD="tu_app_password"

# Base url (para webhooks / init points). En local con ngrok pon la URL pública
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
